<%= javascript_include_tag 'twitter_widget' %>

<div id='twitter_widget' class="box_section">
  <div id='tw_title' class="boxtitle">
    <%= t '.title' %>
  </div>
  <div id='tw_space'>
  </div>
</div>